Imports

In [296]:
import pandas as pd
import numpy as np
from os import listdir
from os.path import isfile, join, dirname

#### Get names of csv's

Function Components

In [299]:
globals()['_dh'][0]

PosixPath('/home/benthompson/code/sevans47/CoolMelodyProject/notebooks')

In [297]:
file_dir = dirname(__file__)

NameError: name '__file__' is not defined

In [25]:
###Set up necessary variables

mypath='../raw_data/mozart_sonatas' #folder of pieces
metadata_filenames = ['documentation.txt','mps - pieces.csv'] #files we want to ignore for getting just indiv pieces
pieces_metadata_filepath = join(mypath,'mps - pieces.csv') #filepath for the pieces.csv file

In [11]:
movement_filenames = [f for f in listdir(mypath) if isfile(join(mypath, f))] 

#listdir gives list of files and directories at path end. if statement will check if its a file so we ignore dirs

In [12]:
for filename in metadata_filenames:
    if filename in movement_filenames:
        movement_filenames.remove(filename)

Combine into Function

In [33]:
def get_movement_filenames():
    mypath='../raw_data/mozart_sonatas' #folder of pieces
    metadata_filenames = ['documentation.txt','mps - pieces.csv'] #files we want to ignore for getting just indiv pieces
    
    movement_filenames = [filename for filename in listdir(mypath) if isfile(join(mypath, filename))] 
    #listdir gives list of files and directories at path end. if statement will check if its a file so we ignore dirs
    
    for filename in metadata_filenames:  #remove metadata filenames
        if filename in movement_filenames:    #make sure no error if already removed
            movement_filenames.remove(filename)
        
    return movement_filenames

Get paths and names

In [182]:
#make filenames and filepaths and piece names

movement_filenames = get_movement_filenames()
movement_filepaths = [join(mypath, filename) for filename in movement_filenames]
movement_names = [filename.split('mps - ')[1].split('.csv')[0] for filename in movement_filenames]

In [259]:
def get_movement_filepaths():
    
    movement_filepaths = [join(mypath, filename) for filename in movement_filenames]
    return movement_filepaths

def get_movement_names():
    
    movement_names = [filename.split('mps - ')[1].split('.csv')[0] for filename in movement_filenames]
    return movement_names

In [183]:
index = 10

movement_filenames[index],movement_filepaths[index],movement_names[index]

('mps - K311-III.csv',
 '../raw_data/mozart_sonatas/mps - K311-III.csv',
 'K311-III')

get dict and list

In [184]:
#make dictionary of piece dfs
#loop over movement name and path, to make dict with movement name as key, and movement df as value

movement_df_dict = {name:pd.read_csv(path) for path, name in zip(movement_filepaths,movement_names)}

In [185]:
#pull each movement file into a df and into a list

movement_df_list = [pd.read_csv(path) for path in movement_filepaths]

In [186]:
#add movement name column to dfs [in dict]

for key in movement_df_dict:
    movement_df_dict[key]['movement_name'] = key

In [187]:
#add movement name column to dfs [in list]

for i in range(len(movement_df_list)):
    movement_df_list[i]['movement_name'] = movement_names[i]

In [ ]:
def get_movement_df_dict():
    
    movement_df_dict = {name:pd.read_csv(path) for path, name in zip(movement_filepaths,movement_names)}
    for key in movement_df_dict:
        movement_df_dict[key]['movement_name'] = key
        
    return movement_df_dict

In [261]:
def get_movement_df_list():
    
    movement_df_list = [pd.read_csv(path) for path in movement_filepaths]
    for i in range(len(movement_df_list)):
        movement_df_list[i]['movement_name'] = movement_names[i]
        
    return movement_df_list

In [223]:
movement_df_list[1].head()

,note_name,duration,measure,beat,subdiv,harm,from_root,NCT,BI2,CI,trill,dynamic,movement_name
0,d5,4,1,1,1,I,1,0,0,0,0,f,K284-I
1,r,4,1,2,1,0,0,0,0,0,0,f,K284-I
2,g4,16,1,3,1,I,4,1,0,0,0,f,K284-I
3,f#4,16,1,3,2,I,3,0,0,0,0,f,K284-I
4,e4,16,1,3,3,I,2,1,0,0,0,f,K284-I

In [224]:
movement_df_dict[movement_names[1]].head()

,note_name,duration,measure,beat,subdiv,harm,from_root,NCT,BI2,CI,trill,dynamic,movement_name
0,d5,4,1,1,1,I,1,0,0,0,0,f,K284-I
1,r,4,1,2,1,0,0,0,0,0,0,f,K284-I
2,g4,16,1,3,1,I,4,1,0,0,0,f,K284-I
3,f#4,16,1,3,2,I,3,0,0,0,0,f,K284-I
4,e4,16,1,3,3,I,2,1,0,0,0,f,K284-I

make stacked df

In [251]:
stacked_movement_df = pd.concat(movement_df_list)

In [252]:
stacked_movement_df.reset_index(inplace=True)

In [264]:
stacked_movement_df.rename(columns={'index':'note_num'}, inplace=True)

In [290]:
def get_stacked_movement_df():
    
    stacked = pd.concat(movement_df_list)
    stacked.reset_index(inplace = True)
    stacked.rename(columns={'index':'note_num'}, inplace=True)
    
    return stacked

In [291]:
stacked = get_stacked_movement_df()

In [288]:
path = '../raw_data/'
name = 'stacked_movement_df.csv'
stacked.to_csv(join(path,name))

In [280]:
path, name

('../raw_data/', 'stacked_movement_df.csv')

In [281]:
join(path,name)

'../raw_data/stacked_movement_df.csv'

In [294]:
def export_stacked():
    
    path = '../raw_data/'
    name = 'stacked_movement_df.csv'
    stacked.to_csv(join(path,name)) #will overwrite curent file if same name so can be rerun

In [293]:
export_stacked()

In [257]:
stacked_movement_df[stacked_movement_df.note_name == 'd']

,index,note_name,duration,measure,beat,subdiv,harm,from_root,NCT,BI2,CI,trill,dynamic,movement_name
28,9,d,16,1,4,4,I,1,0,0,0,0,f,K284-I
893,10,d,8,4,1,2,V,3,0,0,1,0,p,K498a-II

In [258]:
stacked_movement_df.note_name.value_counts()

c5     166
d5     144
f5     128
e5      98
g5      92
a4      89
bb4     81
g4      68
r       68
b4      64
eb5     55
a5      46
f4      44
c#5     27
f#5     24
e4      21
bb5     20
ab4     19
d4      14
g#4     11
c6      11
b5      11
eb4     10
f#4     10
ab5      9
c4       6
c#4      4
g#5      4
d#5      3
e#5      3
a3       3
b3       2
d        2
db5      2
c#6      1
d6       1
bb3      1
d#4      1
f6       1
Name: note_name, dtype: int64