In [1]:
import CoolMelodyProject.csvcombiner as cc

In [2]:
df = cc.get_stacked_movement_df()

In [12]:
df

,note_num,note_name,duration,measure,beat,subdiv,harm,from_root,NCT,BI2,CI,trill,dynamic,movement_name
0,0,d5,4,1,1,1,I,1,0,0,0,0,f,K311-I
1,1,r,4,1,2,1,0,0,0,0,0,0,f,K311-I
2,2,g5,16,1,3,1,I,4,1,0,0,0,f,K311-I
3,3,f#5,16,1,3,2,I,3,0,0,0,0,f,K311-I
4,4,e5,16,1,3,3,I,2,1,0,0,0,f,K311-I
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1359,31,c5,8,4,2,1,I64,1,0,1,0,0,mf,K283-II
1360,32,b4,8,4,2,3,V,3,0,1,0,0,mf,K283-II
1361,33,b4,4,4,3,1,I,7,1,1,0,0,a,K283-II
1362,34,c5,8,4,4,1,I,1,0,1,0,0,mf,K283-II
1363,35,r,8,4,4,3,0,0,0,1,0,0,mf,K283-II

In [ ]:
import numpy as np
import pandas as pd
import matplotlib